#h1{
    background-color: rgb(251, 253, 253);

}
.compras{
    background-color: rgb(234, 241, 241);
}
.center {
  position: absolute;
  left: 0;
  top: 70%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}